<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appli_gest_du_personnel_cned.Properties.Settings.app_gest_personnelConnectionString"
            connectionString="server=localhost;user id=root;database=app_gest_personnel"
            providerName="MySql.Data.MySqlClient" />
        <add name="appli_gest_du_personnel_cned.Properties.Settings.gestiopersoConnectionString"
            connectionString="server=localhost;user id=root;database=gestioperso"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>